body {
    background-color: #f3f5f0;
}

h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
form {
    background-color: #f3f5f0;
    border-radius: 5px;
    border: 2px solid black;
    margin: 20px auto;
    padding: 35px;
    width: 90%;
    
}

input {
    border: 1px solid #f3f5f0;
    border-radius: 4px;
    display: inline-block;
    margin: 8px 0;
    padding: 12px 20px;
    width: 100%;
}

form textarea {
    border: 1px solid #f3f5f0;
    border-radius: 4px;
    height: 150px;
    width: 100%;
}
label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    background-color: #6a7943;
    border: none;
    border-radius: 4px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 4px;
    cursor: pointer;
    margin: 8px 0;
    padding: 14px 20px;
   width: 100%;  
}

button:focus
button:hover, button:focus {
    filter: brightness(125%);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
form {
        width: 70%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
form {
        width: 50%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
form {
        width: 40%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    form {
        width: 30%;
    }
}


