/* mobile first view */

h2 {
    display: none;
}


aside { 
background-color: #f3f5f0;
font-size: 120%;
padding: 5px 0;
text-align: center;
width: 100%;
}

aside a {
    color: black;
    display: block;
    padding: 5px 0;
    text-decoration: none;
    width: 100%;
}

aside a:hover  {
    background-color: #af3a80;
    color: #e3eeec;
}

aside a:focus {
    background-color: #af3a80;
    color: #e3eeec;
    outline: none;
}

#main_image {
    width: 100%;
    height: auto;

}

article {
    background-color: #f3f5f0;
    color: black;
    font-size: 100%;
    text-align: center;
    padding: 0 20px;
    
}


@media only screen and (min-width: 768px) {
 main {
    display: flex;
 }
 aside {
    align-items: center;
    display: flex;
    flex-direction: column;
    float: right;
    justify-content: center;
    width: 30%;
 }
 
 section {
    display: inline;
    float: left;
    padding-right: 10px;
    width: 70%;
 }
}